body, main {
  display: flex;
}

body {
  flex-direction: column;
}
main {
  flex-direction: row;
  flex: auto;
}

article {
  width: 66.666%;
}

aside {
  width: 33.333%;
}

article, aside {
  overflow-y: auto;
}

header, footer {
  width: 100%;
}
